* {
  margin: 0px;
}
body {
  background-color: #1a0b2e;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 12.5rem;
  border-bottom: 1px solid rgba(82, 46, 131, 0.4);
  align-items: center;
}
span {
  color:;
}
.nav-links ul {
  display: flex;
  gap: 2rem;
}
.nav-links li {
  list-style: none;
  font-size: 16px;
}
.nav-links li a {
  text-decoration: none;
  color: #ffffff;
}
.btn-primary {
  background: linear-gradient(20deg, #f7e93f 15%, #fb09b4 50%, #9100f8 90%);
  font-size: 16px;
  padding: 12.5px 40px 12.5px 16px;
  border-radius: 25px;
  color: #ffffff;
  font-weight: 600;
}

/* hero section  */
.hero {
  background: url(../assets/hero-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 760px;
  justify-content: center;
}
.hero-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -6.25rem;
  padding-top: 6.25rem;
}
.hero-img-background img {
  width: 350px;
  position: relative;
  left: 3.5rem;
}
.hero-img-mic img {
  position: relative;
  left: -11rem;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content h1 {
  font-size: 60px;
  font-weight: bolder;
  padding-bottom: 8px;
}
.hero-content p {
  font-size: 16px;
  padding-bottom: 24px;
}
.btn-subscribe {
  background: transparent;
  color: #00ff88;
  padding: 12px 20px 12px 48px;
  border: 1px solid #00ff88;
  border-radius: 20px;
}

/* about section */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 200px 120px 200px;
}

.about-description {
  max-width: 1200px;
}
.about-description h1 {
  font-size: 48px;
  padding-top: 50px;
  padding-bottom: 16px;
  font-weight: bold;
}
.about-description p {
  line-height: 25px;
}
.about-data-container {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 160px;
}
.about-data h1 {
  font: 48px;
  color: #00ff88;
  font-weight: bold;
}
.about-data p {
  font-size: 16px;
  padding-top: 16px;
}

/* why choose section */

.choose {
  padding: 120px 200px;
  background-color: #230e3d;
}

.choose h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 48px;
}
.choose-cards-container > * {
  background-color: #351165;
  padding: 40px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.choose-cards-container > * img {
  width: 50px;
  padding-bottom: 20px;
}
.choose-cards-container > * h2 {
  font-size: 24px;
  padding-bottom: 16px;
}
.choose-cards-container > * p {
  font-size: 16px;
  color: #ffffff;
}

/* grid layout*/
.choose .heading {
  grid-area: heading;
}
.premium-card {
  grid-area: premium;
}
.mobile-card {
  grid-area: mobile;
}
.global-card {
  grid-area: global;
}
.exclusive-card {
  grid-area: exclusive;
}
.rich-card {
  grid-area: rich;
}
.choose-cards-container {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "premium mobile  mobile"
    "premium global  global"
    "exclusive  exclusive rich";
}

/* featured episodes */

/* host info */
.host-container h1 {
  font-size: 48px;
  padding-top: 120px;
  text-align: center;
}
.host-info-container {
  display: flex;
  margin: 40px 200px 120px 200px;
  gap: 24px;
  background-color: #250d44;
  padding: 40px;
  border-radius: 30px;
}
.host-info h2 {
  font-size: 32px;
  margin-bottom: 16px;
}
.host-info p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.host-socials {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.host-socials img {
  border: 1px solid #533c72;
  width: 40px;
  border-radius: 50%;
  padding: 10px;
}
