/* common styles */

* {
  margin: 0px;
}
body {
  background-color: #1a0b2e;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
span {
  background-image: linear-gradient(
    20deg,
    #f7e93f 15%,
    #fb09b4 50%,
    #9100f8 90%
  );
  -webkit-background-clip: text;
  color: transparent;
}
.btn-primary {
  background: linear-gradient(20deg, #f7e93f 15%, #fb09b4 50%, #9100f8 90%);
  font-size: 16px;
  padding: 12.5px 40px 12.5px 16px;
  border-radius: 25px;
  color: #ffffff;
  font-weight: 600;
}
/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 10%;
  border-bottom: 1px solid rgba(82, 46, 131, 0.4);
  align-items: center;
}

.nav-links ul {
  display: flex;
  gap: 2rem;
}
.nav-links li {
  list-style: none;
  font-size: 16px;
}
.nav-links li a {
  text-decoration: none;
  color: #ffffff;
}

nav img {
  display: none;
}
@media (max-width: 576px) {
  .nav-links,
  .btn-nav {
    display: none;
  }
  nav img {
    display: inline;
  }
}

/* hero section  */
.hero {
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 760px;
  justify-content: center;
}
.hero-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -6.25rem;
  padding-top: 6.25rem;
}
.hero-img-background img {
  width: 22rem;
  position: relative;
  left: 3.5rem;
  top: 50px;
}
.hero-img-mic img {
  position: relative;
  left: -11rem;
  top: 50px;
}

.new-badge {
  font-size: 18px;
  padding: 8px 16px;
  background-color: #00ff88;
  color: black;
  font-weight: 700;
  border-radius: 25px;
  position: relative;
  right: -130px;
  top: -380px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content h1 {
  font-size: 60px;
  font-weight: bolder;
  padding-bottom: 8px;
}
.hero-content p {
  font-size: 16px;
  padding-bottom: 24px;
}
.btn-subscribe {
  background: transparent;
  color: #00ff88;
  padding: 12px 20px 12px 48px;
  border: 1px solid #00ff88;
  border-radius: 20px;
}
@media (max-width: 576px) {
  .hero-content {
    margin: 0px 20px;
    text-align: center;
  }
}

/* about section */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  margin: 50px auto 120px auto;
}

.about-description h1 {
  font-size: 48px;
  padding-top: 50px;
  padding-bottom: 16px;
  font-weight: bold;
}
.about-description p {
  line-height: 25px;
}
.about-data-container {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 160px;
}
.about-data h1 {
  font-size: 48px;
  color: #00ff88;
  font-weight: bold;
}
.about-data p {
  font-size: 16px;
  padding-top: 16px;
}
@media (max-width: 576px) {
  .about {
    margin: 0px auto 40px auto;
  }
  .about-description h1 {
    padding-top: 40px;
  }
  .about-data-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 80px;
    gap: 40px;
  }
  .about-description {
    margin: 20px;
  }
}

/* why choose section */

.choose {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #230e3d;
}
.choose-container {
  max-width: 1200px;
  margin: 0 auto;
}

.choose h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 48px;
}
.choose-cards-container > * {
  background-color: #351165;
  padding: 40px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.choose-cards-container > * img {
  width: 50px;
  padding-bottom: 20px;
}
.choose-cards-container > * h2 {
  font-size: 24px;
  padding-bottom: 16px;
}
.choose-cards-container > * p {
  font-size: 16px;
  color: #ffffff;
}
@media (max-width: 576px) {
  .choose {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .choose h1 {
    margin: 0px 20px;
    font-size: 32px;
  }
}

/* grid layout*/
.choose .heading {
  grid-area: heading;
}
.premium-card {
  grid-area: premium;
}
.mobile-card {
  grid-area: mobile;
}
.global-card {
  grid-area: global;
}
.exclusive-card {
  grid-area: exclusive;
}
.rich-card {
  grid-area: rich;
}
.choose-cards-container {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "premium mobile  mobile"
    "premium global  global"
    "exclusive  exclusive rich";
}
@media (max-width: 576px) {
  .choose-cards-container {
    gap: 16px;
    margin: 20px;
    grid-template-areas:
      "premium"
      "mobile"
      "global"
      "exclusive"
      "rich";
  }
}

/* featured episodes */
.featured-episodes-container {
  max-width: 1200px;
  margin: 120px auto;
}
.featured-episodes-container h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.featured-episodes-cards-container {
  display: flex;
  gap: 30px;
}
.cards {
  border-radius: 30px;
  overflow: hidden;
  background-color: #250d44;
}
.card-info {
  padding: 24px;
}
iframe {
  width: 380px;
  height: 214px;
}
.card-info h2 {
  font-size: 24px;
  padding-bottom: 16px;
}
.card-info p {
  font-size: 16px;
  line-height: 24px;
}

.time {
  display: flex;
  color: #00ff88;
  margin-top: 12px;
  gap: 6px;
}

@media (max-width: 576px) {
  .featured-episodes-container {
    margin: 40px auto;
  }
  .featured-episodes-cards-container {
    flex-wrap: wrap;
    gap: 16px;
    margin: 25px 20px 60px 20px;
  }
  iframe {
    width: 100%;
  }
}
/* host info */
.host-container h1 {
  font-size: 48px;

  text-align: center;
}
.host-info-container {
  display: flex;
  gap: 24px;
  background-color: #250d44;
  padding: 40px;
  border-radius: 30px;
  margin: 40px auto 120px auto;
  max-width: 1200px;
}
.host-info h2 {
  font-size: 32px;
  margin-bottom: 16px;
}
.host-info p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.host-socials {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.social-icon {
  width: 40px;
}
.host-socials img {
  border: 1px solid #533c72;
  width: 20px;
  border-radius: 50%;
  padding: 10px;
}
@media (max-width: 576px) {
  .host-info-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 20px;
  }
  .host-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* footer section */
footer {
  background-image: url(../assets/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.footer-container {
}

.footer-container h1 {
  font-size: 88px;
  text-align: center;
}
.footer-links {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.links {
  display: flex;
  gap: 8px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.footer-container p {
  text-align: center;
}
@media (max-width: 576px) {
  footer {
    padding: 40px 20px;
  }
  .footer-links {
    flex-wrap: wrap;
    gap: 16px;
  }
}

.hide {
  display: none !important;
}
